* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

header {
    background-color: rgb(130, 179, 221);
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
    
    display: flex;
}

.logo,
.contact-header,
nav-header{
    display: flex;
}
.logo{
    flex: 1;
}
.contact-header {
    flex-direction: column;
    flex: 2;
}
