* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind Siliguri', sans-serif;

    --green-vtt: #24d381;
    --white-smoke: #f0f0f0;
    --night-rider: #343434;
    --black: #191b17;

    --transition: all 0.5s ease-in-out;
}

html {
    color: var(--black);
    font-size: 1rem;
    font-weight: 300;
    /* line-height: 1.5; */
    /* text-rendering: optimizeLegibility; */
    /* scroll-behavior: smooth; */
}

/* config global e reutilizáveis */
img{
    width: 100%;
}
a {
    text-decoration: none;
    color: var(--black);
}
li {

}

#logo-header {
    width: 40px;
}